body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

.App {
  text-align: center;
}

.Container {
  display: block;
  width: 1200px;
  height: 100vh;
  margin-left: calc(50% - 600px);
  /* background-color: aquamarine; */
}

/********************************************************************LEFT SIDE**************************************************************************/

  .left-Side {
    display: inline-block;
    width: 30%;
    height: 100vh;
    /* background-color: burlywood; */
  }
    .left-Side-Menu {
      position: fixed;
      float: left;
      width: 360px;
    }
      .search-Input {
        background-color: white;
        color: rgb(71, 75, 71);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        width: 80%;
        height: 50px;
        padding: 16px;
        margin-bottom: 30px;
        font-size: 16px;
        border: solid 3px rgb(71, 75, 71);
        border-radius: 25px;
        outline: none;
      }
        .search-Input:hover {
          border-color: #3e8e41;
        }
        .left-Side > div > i {
          font-size: 50px;
          margin-left: 5px;
          color: rgb(71, 75, 71);
        }
        .left-Side > div > i:hover {
          cursor: pointer;
          color: #3e8e41;
        }

        .drop-Btn {
          background-color: rgb(71, 75, 71);
          color: white;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: bolder;
          letter-spacing: 2px;
          width: 100%;
          padding: 16px;
          font-size: 16px;
          border: none;
          outline: none;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
    
        .dropdown-Container {
          position: relative;
          display: inline-block;
          width: 95%;
        }
    
          .dropdown-Content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
      
            .dropdown-Content div {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-weight: bolder;
            }
      
              .dropdown-Content div:hover {
                background-color: #ddd;
              }
      
              .dropdown-Container:hover .dropdown-Content {
                display: block;
                cursor: pointer;
              }
      
              .dropdown-Container:hover .drop-Btn {
                background-color: #3e8e41;
                cursor: pointer;
              }
      .add-Item-Btn {
        background-color: rgb(71, 75, 71);
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        letter-spacing: 2px;
        width: 95%;
        padding: 16px;
        margin-top: 20px;
        font-size: 16px;
        border: none;
        outline: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
        .add-Item-Btn:hover {
          background-color: #3e8e41;
          cursor: pointer;
        }

/*********************************************************************RIGTH SIDE*************************************************************************/

  .right-Side {
    display: inline-block;
    padding-top: 50px;
    width: 70%;
    /* background-color: rgb(211, 209, 209); */
  }
  .Item {
    display: inline-block;
    float: left;
    width: 280px;
    height: 300px;
    padding: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  }
    .item-Pic {
      display: inline-block;
      width: 260px;
      height: 280px;
    }
      .item-Opacity {
        display: none;
      }
      .Item:hover .item-Opacity {
        position: absolute;
        z-index: 1;
        display: inline-block;
        width: 260px;
        height: 280px;
        background-color: white;
        opacity: 0.7;
      }

      .item {
        display: none;
      }
      .Item:hover .item{
        display: inline-block;
        position: absolute;
        color: white;
        z-index: 2;
      }
      .item > i {
        color: rgb(71, 75, 71);
        position: absolute;
        right: -250px;
        font-size: 30px;
      }
      .item > i:hover {
        cursor: pointer;
        color: #3e8e41;
      }
      .more-Btn {
        position: absolute;
        background-color: rgb(71, 75, 71);
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        width: 260px;
        padding: 16px;
        font-size: 16px;
        border: none;
        outline: none;
        bottom: -280px;
        cursor: pointer;
      }

      .more-Btn:hover {
        background-color: #3e8e41;
        cursor: pointer;
      }
      .viewDetails {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
      }
/****************************************************************************DETAILS ABOUT ITEM*************************************************************/
.detailsPic {
  display: inline-block;
  width: 500px;
  height: 500px;
}
.drop-Btn:hover {
  cursor: pointer;
  background-color: #3e8e41;
}
/****************************************************************************ADD ITEM*************************************************************/
.add-Btn {
  background-color: rgb(71, 75, 71);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 25%;
    padding: 16px;
    margin: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
    .add-Btn:hover {
      background-color: #3e8e41;
      cursor: pointer;
    }
.editAddItem {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}